@model MarginToPaddingConverter.Models.ConverterModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>Margin to Padding Converter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SourceCard" class="control-label">Source payload (one that uses margin)</label>
                <input asp-for="SourceCard" class="form-control" />
                <span asp-validation-for="SourceCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Convert" class="btn btn-default" />
            </div>
            <div class="form-group">
                <label asp-for="ConvertedCard" class="control-label">Converted card (one that uses padding)</label>
                <pre>@Model.ConvertedCard</pre>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
